<script type="text/javascript">
    try {
        ace.settings.loadState('main-container')
    } catch (e) {
    }
</script>

<div id="sidebar" class="sidebar responsive ace-save-state">#parse("/layout/layout-left.vm")</div>

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">首页</a>
                </li>

                <li>
                    <a href="#">功能管理</a>
                </li>
                <li class="active">广告设置</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-inline">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" href="#edit-modal">
                                添加
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" href="#edit-modal">
                                编辑
                            </button>
                            <span class="grey bigger-110">查询条件</span>
                            <input type="text" class="input-large" placeholder="输入icon或banner名称">
                            <input type="text" class="input-md" placeholder="输入搜索ID">
                            <button type="button" class="btn btn-primary btn-sm">
                                查询
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!--内容 部分-->
            <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
            </div>
            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover"
                       style="table-layout:fixed">
                    <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace"/>
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>ID</th>
                        <th>类型</th>
                        <th>名称</th>
                        <th>图片地址</th>
                        <th>状态</th>
                        <th>使用区域</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace"/>
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>456</td>
                        <td>icon</td>
                        <td>手机号码icon</td>
                        <td style="word-break: break-all">http://115.239.134.55/jsLlgjWeb/upload/weixin/platform/28/80/104742894521540585.png</td>
                        <td>在用</td>
                        <td>手机绑定、流量充值、话费充值</td>
                    </tr>
                    <tr>
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace"/>
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>456</td>
                        <td>icon</td>
                        <td>手机号码icon</td>
                        <td style="word-break: break-all">http://115.239.134.55/jsLlgjWeb/upload/weixin/platform/28/80/104742894521540585.png</td>
                        <td>在用</td>
                        <td>手机绑定、流量充值、话费充值</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->

#parse("/layout/layout-footer.vm")

<!--添加、修改-弹框-->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    icon/banner设置
                </h4>
            </div>
            <div class="modal-body clearfix">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">*类型</label>
                            <div class="col-sm-10">
                                <select class="form-control col-xs-12 col-sm-12" id="form-field-select-1">
                                    <option value="ICON">ICON</option>
                                    <option value="BANNER">BANNER</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">*BANNER选择</label>
                            <div class="col-sm-10">
                                <select class="form-control col-xs-12 col-sm-12" id="form-field-select-1">
                                    <option value="ICON">套餐余量BANNER</option>
                                    <option value="banner">春节包活动BANNER</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">*ICON选择</label>
                            <div class="col-sm-10">
                                <select class="form-control col-xs-12 col-sm-12" id="form-field-select-1">
                                    <option value="ICON">手机号码ICON</option>
                                    <option value="banner">话费充值ICON</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">*显示区域</label>
                            <div class="col-sm-10">
                                <select class="form-control col-xs-12 col-sm-12" id="form-field-select-1">
                                    <option value="ICON">需要</option>
                                    <option value="banner">不需要</option>
                                    <option value="banner">套餐余量图文</option>
                                    <option value="banner">充值图文</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                    确定
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>

            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>

<!-- inline scripts related to this page -->
<script>
    jQuery(function ($) {
        var myTable =
                $('#dynamic-table').DataTable({
                    "paging": false,
                    "ordering": false,
                    "info": false,
                    searching: false
                });

        //表前的复选框
        myTable.on('select', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
            }
        });
        myTable.on('deselect', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
            }
        });

        $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header
            $('#dynamic-table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) myTable.row(row).select();
                else  myTable.row(row).deselect();
            });
        });

    });


</script>